.wp-block-brand-standards-brand-guide-section {
	.brand-standards-columns {
		display: flex;
		gap: 2em;

		.wp-block-column> :first-child {
			margin-block-start: 0;
		}

		.wp-block-column>* {
			margin-block-start: var(--wp--preset--spacing--30);
			margin-block-end: 0;
		}
	}
}